.msg-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  height: 100vh;
  background-color: #fff;
}

.msg-left {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.msg-left-header {
  width: 100%;
  padding: 10px 16px 0px;
}

.msg-left-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.msg-left-header-content > div {
  font-weight: 700;
  color: #050505;
  font-size: 24px;
}

.msg-btn-new-message {
  margin-left: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  outline: none;
  border: none;
  height: 36px;
  width: 36px;
  background-color: #E4E6EB;
  font-size: 18px;
}

.msg-btn-new-message:hover {
  background-color: #d8dadf;
}


.msg-btn-new-message:active {
  transform: scale(0.95);
}

.msg-left-search {
  padding: 12px 16px 24px;
  position: relative;
}

.msg-left-search-box {
  display: flex;
}

.msg-left-btn-search-back {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  height: 36px;
  width: 36px;
  margin-right: 6px;
  outline: none;
  border: none;
  background-color: transparent;
  display: none;
}

.msg-left-btn-search-back:hover {
  background-color: #F0F2F5;
  pointer-events: none;
}

.msg-left-btn-search-back:active {
  pointer-events: none;
}

.msg-left-search-input {
  height: 36px;
  background-color: #F0F2F5;
  border-radius: 50px;
  display: flex;
  align-items: center;
  color: #65676b !important;
  flex: 1;
}

.msg-left-search-input > label {
  padding-left: 16px;
  display: flex;
  align-items: center;
  margin: 0;
}

.msg-left-search-input > label > i {
  font-size: 16px;
}

.msg-left-search-input > input {
  outline: none;
  border: none;
  height: 36px;
  background-color: transparent !important;
  font-size: 14px !important;
  font-weight: 200 !important;
  flex: 1;
  padding: 0 16px;
}

.msg-left-search-input > input::placeholder {
  color: #65676B;
  font-weight: 100;
}

.msg-left-search:focus-within label {
  display: none;
}

.msg-left-search:focus-within .msg-left-btn-search-back {
  display: block;
}

.msg-left-search:focus-within > .msg-left-search-list {
  display: flex;
  flex-direction: column;
}

.msg-left-search-list {
  position: absolute;
  height: calc(100vh - 94px - 78px);
  left: 16px;
  right: 16px;
  top: 48px;
  background-color: #fff;
  display: none;
  box-shadow: rgb(222 224 225) 0px 1px 4px;
  overflow-y: auto;
  padding: 10px 0;
  z-index: 2;
}

.msg-users {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: calc(100vh - 118px - 78px);
  display: flex;
}

.msg-user-box {
  padding: 0 8px;
  text-decoration: none !important;
}

.msg-user-box.active {
  cursor: default;
}

.msg-user {
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.msg-user-box:not(.active) .msg-user:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.msg-user-box.active .msg-user {
  background-color: #eaf3ff;
}

.msg-user-box:not(.active) .msg-user:active {
  background-color: #e0dfdf;
  cursor: pointer;
}

.msg-user-avatar {
  width: 56px;
  height: 56px;
  margin-right: 12px;
  position: relative;
}

.msg-user-avatar > span {
  position: absolute;
  height: 16px;
  width: 16px;
  border: 2px solid #fff;
  background-color: #31A24C;
  bottom: 5px;
  right: 0;
  z-index: 1;
  border-radius: 9999px;
}


.msg-user-avatar > img {
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  object-fit: cover;
}

.msg-user-info {
  width: calc(100% - 56px - 12px);
  color: #050505;
}

.msg-user-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.msg-user-infos span:first-child {
  font-weight: 200;
  font-size: 14px;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.msg-user-infos span:last-child {
  color: #65676B;
  font-size: 12px;
  font-weight: 200;

}

.msg-type-info {
  color: #65676B;
  font-size: 12px;
  font-weight: 200;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}

.msg-type-info.msg-unread {
  color: #0084ff !important;
  font-weight: 500;
}

.msg-type-count-msg-unread {
  position: absolute;
  color: white;
  background-color: #db342e;
  display: inline-block;
  border-radius: 9999px;
  width: 18px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  right: 0;
}

.msg-type-count-msg-read {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 0;
}

.msg-type-count-msg-read > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 9999px;
}

.msg-right {
  flex: 1;
  border-left: 1px solid #dee0e1;
}

.msg-right-message {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* display: none; */
}

.msg-right-header {
  padding: 12px 16px;
  height: 58px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.msg-right-user-box {
  display: flex;
  align-items: center;
}

.msg-right-user-avatar {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  position: relative;
}

.msg-right-user-avatar > span {
  position: absolute;
  height: 12px;
  width: 12px;
  border: 2px solid #fff;
  background-color: #31A24C;
  bottom: 5px;
  right: 0;
  z-index: 1;
  border-radius: 9999px;
}

.msg-right-user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  object-fit: cover;
}

.msg-right-user-info {

}

.msg-right-user-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.msg-right-user-infos span:first-child {
  font-weight: 400;
  font-size: 13px;
  flex: 1;
}

.msg-right-user-infos span:last-child {
  color: #65676B;
  font-size: 12px;
  font-weight: 200;

}

.msg-right-type-info {
  color: #65676B;
  font-size: 12px;
  font-weight: 200;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.msg-right-msg-content {
  flex: 1;
  overflow-y: scroll;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
}

.msg-right-msg-row {
  display: flex;
  margin: 4px 0 8px;
}

.msg-right-msg-row-wrap {
  max-width: 70%;
  display: flex;
  align-items: flex-end;
}

.msg-right-msg-row.is-mine {
  flex-direction: row-reverse;
}

.msg-right-msg-row.is-mine .msg-right-msg-row-content-msg {
  border-radius: 15.5px 15.5px 0 15.5px;
}

.msg-right-msg-row.is-mine .msg-right-msg-row-user {
  display: none;
}

.msg-right-msg-row.is-mine .msg-right-msg-row-content-msg {
  background-color: #eaf3ff;
}

.msg-right-msg-row.is-mine .msg-right-msg-row-content > div:last-child {
  text-align: right;
}

.msg-right-msg-row-wrap > div > div:last-child{
  margin-top: 4px;
  font-size: 13px;
}

.msg-right-msg-row-user {
  display: flex;
  flex-direction: column;
}

.msg-right-msg-row-user-avatar {
  width: 28px;
  height: 28px;
}

.msg-right-msg-row-user-avatar > img {
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  object-fit: cover;
}

.msg-right-msg-row-content {
  margin-left: 8px;
}

.msg-right-msg-row-content-msg {
  padding: 5px 12px;
  border-radius: 15.5px 15.5px 15.5px 0;
  background-color: #E4E6EB;
  font-size: 15px;
  color: #050505;
  font-weight: 100;
}

.msg-right-msg-row-content > div:last-child {
  color: #939598;
  font-weight: 100;
}

.msg-right-viewed {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.msg-right-viewed > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9999px;
}

.msg-right-send-msg {
  padding: 12px 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg-right-send-msg-input {
  width: calc(100% - 32px);
  display: flex;
  align-items: center;
  background-color: #F0F2F5;
  border-radius: 50px;
}

.msg-right-send-msg-input > input {
  outline: none;
  border: none;
  height: 36px;
  flex: 1;
  background-color: transparent !important;
  font-size: 14px !important;
  font-weight: 200 !important;
  padding: 0 16px;
}

.msg-right-btn-send-msg {
  height: 30px;
  outline: none;
  border: none;
  border-radius: 50px;
  background-color: #0099ff;
  min-width: 70px;
  color: #fff;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.msg-right-btn-send-msg img {
  width: 20px;
  height: 20px;
}

.msg-right-btn-send-msg[disabled] {
  opacity: 0.8;
}

.msg-right-btn-send-msg span {
  margin-right: 6px;
}

.msg-right-btn-send-msg:not([disabled]):hover {
  filter: brightness(0.9);
}

.msg-right-no-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.msg-right-no-message-img {
  width: 100px;
  height: 100px;
  margin-bottom: 4px;
}

.msg-right-no-message-img > img {
  width: 100%;
  height: 100%;
}

.msg-right-no-message > div:nth-child(2) {
  font-weight: bold;
  color: #636466;
  font-size: 18px;
  margin-bottom: 4px;
}

.msg-right-no-message > div:nth-child(3) {
  font-weight: 200;
  color: #636466;
  font-size: 15px;
  margin-bottom: 24px;
}
