<section>
  <div class="h-[60px] bg-[#0099ff] flex items-center text-[#ffffff] px-[15px]">
    <button (click)="backClicked()" class="border-none outline-none text-4xl">
      <i class="bx bx-chevrons-left"></i>
    </button>
    <p class="flex-1 text-center text-base pl-[15px]">Đổi mật khẩu</p>
  </div>
  <div class="p-[15px] text-sm">
    <form
      [formGroup]="changePasswordForm"
      (ngSubmit)="onSubmit(changePasswordForm.value)"
    >
      <div>
        <label for="password" class="font-semibold"
          >Mật khẩu hiện tại:</label
        >
        <input
          formControlName="password"
          id="password"
          type="password"
          placeholder="Nhập mật khẩu hiện tại"
          class="block py-[5px] outline-none h-9 border-b border-[#9ca3af] w-full font-medium focus:border-b-[2px] focus:border-[#0099ff]"
        />
      </div>
      <div class="pt-[15px]">
        <p class="font-semibold">Mật khẩu mới:</p>
        <input
          formControlName="new_password"
          id="new_password"
          type="password"
          placeholder="Nhập mật khẩu mới"
          class="block py-[5px] outline-none h-9 border-b border-[#9ca3af] w-full font-medium focus:border-b-[2px] focus:border-[#0099ff]"
        />
        <input
          formControlName="confirm_password"
          id="confirm_password"
          type="password"
          placeholder="Nhập lại mật khẩu mới"
          class="block py-[5px] outline-none h-9 border-b border-[#9ca3af] w-full mt-[5px] font-medium focus:border-b-[2px] focus:border-[#0099ff]"
        />
      </div>
      <button
        type="submit"
        class="bg-[#0099ff] flex w-[160px] rounded-md outline-none border-none justify-center items-center uppercase text-[#ffffff] text-xs h-[40px] m-auto mt-[15px]"
      >
        Cập nhập
      </button>
    </form>
  </div>
</section>
